.banner {height: calc(100vh - 86px);display: table;width: 100%;}
header{background: #2b5876;padding: 40px 0;}

/*SIDE-NAV*/
.sideNav{position: sticky; position: -webkit-sticky;top: 60px;}
.sideNav .snMenuDD{}
.sideNav .snMenuDD .snmDDHead{display: block;padding-bottom: 10px;}
.sideNav .snMenuDD .snmBody{display: none;}
.sideNav .snMenuDD .snmDDItem{display: block;padding: 10px 15px;}
/*SIDE-NAV*/

/*SNIPPET*/
.snippet{position: relative;padding: 15px;background-color: #e3e4e4;border-radius: 4px;margin-bottom: 15px;}
.snippet .copyClipboard{position: absolute;right: 15px;top: 15px;}
.snippet .copyClipboard:hover{background-color: #4da1de;color: #FFF;}
.snippet pre{padding: 0;margin:0;background-color: transparent;border:none;}
.snippet pre code{color: #000;cursor: text;}
/*SNIPPET*/